body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
}

article {
    border-bottom: 1px solid #cdcdcd;
    margin: 40px 0;
}

#Sidebar {
    background-color: #3f3f3f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
}

a {
    color: #3f3f3f;
}

#Sidebar a {
    color: White;
}

a:hover {
    text-decoration: underline;
    color: #209CEE;
    cursor: pointer;
}

#Sidebar a:hover {
    color: #209CEE;
}

.logo {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.logo img {
    width: 100%;
    height: 100%;
}

nav ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;

}

nav ul li {
    margin: 10px;
}

h1 {
    font-size: 40px;
}

header {
    border-bottom: 1px solid #3d3d3d;
}

.important {
    background-color: #209CEE;
    color: White;
    box-shadow: 2px 2px 2px 2px #ababab;
    padding: 5px;
}

#MainContent {
    max-width: 700px;
    margin: 10px 25px;
}

code {
    background-color: #ededed;
    padding: 10px;
    width: 100%;
    display: block;
    margin: 5px 0;
}

@media screen and (max-width: 800px) {
    #Sidebar {
        display: none;
    }
}